:root { 
--gray_900_af:#1e222daf; 
--blue_gray_100_01:#d9d7d7; 
--red_400:#ee5f5f; 
--black_900_01:#0c0c0c; 
--black_900:#000000; 
--blue_gray_100_b2:#d2d6e1b2; 
--gray_500_01:#939191; 
--gray_500_02:#ababab; 
--blue_gray_900:#333333; 
--gray_600:#7f7f7f; 
--gray_700:#5f626b; 
--gray_400:#c7c7c7; 
--gray_500:#91949a; 
--blue_gray_100:#d2d6e1; 
--gray_600_01:#818181; 
--blue_gray_400:#888888; 
--indigo_50:#ebebf5; 
--gray_800:#464646; 
--blue_gray_600:#5f6472; 
--gray_900:#1e222d; 
--gray_900_01:#131313; 
--gray_300_03:#e1e1e1; 
--gray_300:#dbdfe7; 
--gray_300_02:#dadada; 
--gray_300_01:#dddddd; 
--gray_100:#f4f4fc; 
--indigo_A400:#3d5ee1; 
--blue_gray_400_01:#898989; 
--gray_700_02:#565050; 
--white_A700:#ffffff; 
--indigo_500:#4040c5; 
--gray_700_01:#626262; 
}